{% liquid
    assign enable_newsletter = section.settings.enable_newsletter
  %}
  <style>
    :root {
      --background_color: {{ section.settings.background_color | color_to_rgba }};
      --motion_background_color: {{ section.settings.motion_background_color | color_to_rgba }};
    }
  </style>
  <div class="site-loading-animation">
    <div class="site-loading-animation-top logo-hover-{{- section.settings.select_animation -}}">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1424 287" style="enable-background:new 0 0 1424 287;" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><g><path id="ekPtBIjWhcf4" d="M0,143C0,57.4,52.8,0,132.3,0 c66.9,0,114,39.4,120.9,98.7h-55.5c-5.4-34-31-53.1-65.4-53.1c-48.2,0-76.9,39-76.9,97.5c0,61.6,30.6,98.3,78.8,98.3 c40.5,0,66.6-22.9,69.2-57.4v-3.8h-74.6v-42.8h126.2v35.2c-2.3,68.5-50.5,114.3-120.9,114.3C52.8,286.8,0,229.4,0,143z"></path><path id="ekPtBIjWhcf5" d="M276.9,3.8h190.9v44.3H330.5v66.5 h123.9v44.4H330.5v78.4h139.2V283H276.9V3.8z"></path><path id="ekPtBIjWhcf6" d="M477,190.8h61.2 c-0.8,32.5,20.7,50.5,52.8,50.5c34.1,0,50.1-13.4,50.1-33.3s-13.8-28.3-62.7-41.7c-44.7-12.2-93.7-26.8-93.7-84.1 C484.6,36.7,524.4,0,587.1,0c62.7,0,105.9,36.3,105.9,87.6h-59.3c-0.4-27.2-18.7-42.1-46.7-42.1c-27.9,0-45.1,13.8-45.1,32.1 c0,21.8,14.9,28.7,53.9,39.8c57.8,16.1,104.4,22.6,104.4,84.9c0,50.1-45.5,84.5-109.4,84.5C519.8,286.8,477,248.2,477,190.8 L477,190.8z"></path><path id="ekPtBIjWhcf7" d="M716,190.8h61.2 c-0.8,32.5,20.7,50.5,52.8,50.5c34.1,0,50.1-13.4,50.1-33.3s-13.8-28.3-62.7-41.7c-44.7-12.2-93.7-26.8-93.7-84.1 C723.7,36.7,763.4,0,826.2,0c62.7,0,105.9,36.3,105.9,87.6h-59.3c-0.4-27.2-18.7-42.1-46.7-42.1c-27.9,0-45.1,13.8-45.1,32.1 c0,21.8,14.9,28.7,53.9,39.8c57.8,16.1,104.4,22.6,104.4,84.9c0,50.1-45.5,84.5-109.4,84.5C758.8,286.8,716,248.2,716,190.8 L716,190.8z"></path><path id="ekPtBIjWhcf8" d="M962.3,3.8h190.9v44.3h-137.3v66.5 h123.9v44.4h-123.9v78.4h139.2V283H962.3V3.8z"></path><path id="ekPtBIjWhcf9" d="M1178,3.8h65.3l93,154.1 c28.4,46.7,31.9,61.9,31.9,61.9h1.2l-0.8-216.1h53.8V283h-65.7l-96.5-158.7c-21.9-35.9-27.7-57.7-27.7-57.7h-0.8V283H1178L1178,3.8 L1178,3.8z"></path></g></svg>
    </div>
  {%if enable_newsletter %}
    {% for block in section.blocks %}
      <div class="site-loading-animation-bottom site-loading-animation-newsletter {% if block.settings.hide_on_mobile %} d-none d-lg-block{% endif %}" {{ block.attributes }}>
        <div class="site-loading-animation-newsletter-wrap d-flex flex-column align-items-start">
          <div class="main-password-section__title w-100 d-flex justify-content-between pb-2">
            <h3 class="mb-0 text-primary text-0.875 lh-150">{{ block.settings.heading }}</h3>
            <h3 class="mb-0 ml-1 text-primary text-0.875 lh-150 d-block">{{ block.settings.heading-right }}</h3>
          </div>
          {%- case block.type -%}
          {%- when 'newsletter' -%}
            <div class="mt-auto w-100">
              {% form 'customer', class: 'position-relative' %}
                <div class="main-password-section__message w-100 pt-2 mb-0.5 d-flex justify-content-between align-items-center">
                  <h3 class="text-0.875 mb-0 d-none" data-alert="status" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</h3>
                </div>
                
                <!-- 2019 Honeypot / Checkbox Placeholder -->
                <div class="checkbox captcha"><input type="text" class="honeypot" autocomplete="off" style="display:none;"></div>
  
                <script type="application/json" class="form-alerts">
                  {
                    "error": "Error",
                    "success": "{{ 'newsletter.success' | t }}"
                  }
                </script>
  
                <div data-form-inner>
                  <div class="main-password-section__label rte" data-block-id="{{ block.id }}">
                    {{ block.settings.content }}
                  </div>
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="position-relative">
                      <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                      <input id="NewsletterForm--{{ section.id }}" type="email" name="contact[email]" class="form__input w-100" value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email"
                        {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                        {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                        {% endif %}
                        placeholder="{{ block.settings.placeholder }}" required>
                      <button type="submit" class="form__submit position-absolute" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}" style="position: absolute; right:0;top: 0;">
                        {% render 'icon' with 'arrow-right' %}
                      </button>
                    </div>
                  </div>
                </div>
              {% endform %}
            </div>
          {%- endcase -%}
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
  {% schema %}
    {
      "name": "t:sections.coming_animation.name",
      "tag": "section",
      "settings": [
        {
          "type": "text",
          "id": "logo",
          "label": "Vector image SVG code",
          "info": "Add SVG code starting with <svg..."
        },
        {
          "type": "checkbox",
          "id": "enable_newsletter",
          "default": true,
          "label": "t:sections.coming_animation.enable_newsletter"
        },
        {
          "type": "header",
          "content": "Animation style"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.coming_animation.background_color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "motion_background_color",
          "label": "t:sections.coming_animation.motion_background_color",
          "default": "#beb864"
        },
        {
          "type": "select",
          "id": "select_animation",
          "label": "t:sections.coming_animation.select_animation",
          "options": [
            {
              "value": "none",
              "label": "t:sections.coming_animation.select_animation__1.label"
            },
            {
              "value": "letter",
              "label": "t:sections.coming_animation.select_animation__2.label"
            },
            {
              "value": "word",
              "label": "t:sections.coming_animation.select_animation__3.label"
            }
          ],
          "default": "none"
        }
      ],
      "blocks": [
        {
          "type": "newsletter",
          "name": "Newsletter",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Heading",
              "default": "Coming Soon"
            },
            {
              "type": "text",
              "id": "heading-right",
              "label": "Text to the right of Heading",
              "default": "&#169; Gessen 2023"
            },
            {
              "type": "richtext",
              "id": "content",
              "label": "Content",
              "default": "<p>Sign up to our newsletter</p>"
            },
            {
              "type": "text",
              "id": "placeholder",
              "label": "Placeholder",
              "default": "Enter your email"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Coming Animation"
        }
      ]
    }
  {% endschema %}